doctype html
html
  head
    title Password Reset
  body
    h1 Hello #{name}
    p You have requested for your password.
    //- p Click the link below to reset your password:
    //- a(href=link) Reset Password
    p Your password is : #{password}
  body
html